@font-face {
    font-family: 'Graphik-Medium';
    font-weight:normal;
    font-style:normal;
    src: url(../fonts/Graphik-Medium.ttf);
  }
  
  
  @font-face {
    font-family: 'Graphik-Regular';
    font-weight: Regular;
    font-style: Normal;
    src: url(../fonts/Graphik-Regular.ttf);
  }

  @font-face {
    font-family: 'Graphik-Light';
    font-weight: Light;
    font-style: normal;
    src: url(../fonts/Graphik-Light.ttf);
  }
  
  @font-face {
    font-family: 'Pink-Bloom';
    font-weight: medium;
    font-style: medium;
    src: url(../fonts/Pink-Bloom.ttf);
  }

